body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.app{
  max-width: 380px;
  width:100%;
  margin:auto;


}
.app > div:not(.ti){
  max-width: 360px;
  margin: auto;
}

.input-email label{
  color: red;
}

h1, button{
  color: #638edd;
}
h1{
  text-align: center;
}
.footer{
  display: flex;
  justify-content: space-between;
}
button{
  display: block;
  margin-top: 20px;
  position: relative;
  background-color: transparent;
  font-size:18px;
  border:none;
  outline:none;
  cursor: pointer;
}

.btn-step1{
  margin-left: auto;
  margin-right: 0;
}
.btn-back{
  color: #cdcdcd;
}
.btn-back:after{
  display: none;
}

button:after{
  content: '\f178';
  position: absolute;
  top:50%;
  right:-20px;
  transform:translate(0,-50%);
  color: #638edd;
  font-family: FontAwesome;
}

label{
  text-transform:uppercase;
}

.title{
  margin-bottom: 50px;
  width:100%;
}
.input{
  margin-bottom: 30px;
}

.footer{
  margin-top: 70px;
  padding-top: 35px;
  border-top: 2px solid lightgray;

}
.step1-label{
  text-align: left;
}

.progress-bar{
  height:10px;
  background-color: #638edd;
}
.progress-bar.step1{
  width:33%;
}
.progress-bar.step2{
  width:66%;
}
.progress-bar.full{
  width:100%;
}
.hidden{
  transform:translateX(-100vw);
}

.visible{
  transform:translateX(0);
}
.step{
  max-width: 300px;
  width:100%;
  margin: auto;
}
input, select{
  position: relative;
  box-sizing: border-box;
  height:46px;
  /*max-width:300px;*/
  width:100%;
  padding:0 8px;
  border:none;
  outline: none;
  border-bottom:2px solid lightgray;
}

input:before{
  content: '';
  position: absolute;
  bottom:-2px;
  height:2px;
  width:0;
  transition: .4s ease-in-out;
}

input:focus input:before{
  width:100%;
}

.step2-label.radio input{
  display: none;
}
.wrap-type-of-sex{
  display: flex;
}
.wrap-type-of-sex > div{
  width:33%;
}
.wrap-radio label{
  display: block;
  text-align: center;
  width:100%;
  height:100%;
}
.wrap-radio input + span{
  display: block;
  padding:8px 15px;
  width:100%;
  height:100%;
  box-sizing: border-box;
  text-transform:uppercase;
  background-color: #ffffff;
  color: #000;
  transition:all .3s ease-in-out;
  cursor: pointer;
}

.wrap-radio input:checked + span{
  background-color: #638edd;
  color: #ffffff;
}
.error{
  display:inline-block;
  position: relative;
  color: red;
}

.dashboard button{
  width:250px;
  margin: auto;
  padding:20px 25px;
  border:1px solid #6699eb;
  border-radius:6px;
}

.dashboard button:after{
  right:10px;
}

.wrap-img{
  padding:100px 0 50px;
  text-align: center;
}

/*c5e78b*/